._homeDashCon {
    flex-direction: column;
    margin: 20px 160px 0 160px;
}
.__paraCon {
    width: 100%;
    padding: 24px;
}

.__paraHeader{
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.8;
    text-align: left;
}

.__secondCon{
    width: 100%;
}

.__quickTitle{
    font-family: var(--font-family);
    padding: 24px;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.8;
    text-align: left;
}

.__flex {
    display: flex;
    justify-content: center;
}

.__boards{
    width: var( --full-width);
    justify-content: space-around;
    gap: 12.5px;
    padding: 12px 16px;
}

.__board{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    width: 214.95px;
    gap: 8px;
    border: 1px solid #DBE0E5;
    border-radius: 8px;
}

.__boardHead{
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    color: #121417;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.6px;
}

.__boardDetails{
    color: #637587;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
}