header {
  border-bottom: 1px solid #e5e8eb;
  padding: 12px 40px;
}


.logo a {
  display: flex;
  /* align-items: center; */
  gap: 16px;
}

.logo a > span {
  color: #121417;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  letter-spacing: -0.27px;
  font-family: var(--font-family);
}

.logo a > svg {
  width: 16px;
  height: 16px;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-right: -13em;
}

.btn__wrapper {
  gap: 16px;
}

.sidebar-toggle-icon {
  font-size: 40px;
  cursor: pointer;
  display: none;
}

.mobile-sidebar {
  display: block;
  position: fixed;
  left: 0;
  background: white;
  z-index: 1;
}

.--sidebar-close {
  padding-top: 20px;
  padding-right: 30px;
}

.sidebar-toggle-icon {
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .sidebar-toggle-icon {
    display: block;
  }

  .logo a > span {
    display: none;
  }

  .logo a > svg {
    width: 30px;
    height: 30px;
  }

  .btn__wrapper button:nth-child(odd) {
    display: none;
  }

  .navItems{
    display: none;
  }
}